html, body {
  margin: 0;
  padding: 0;
}

canvas {

  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


/* * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

canvas {
  border: 1px solid;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */